.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* share style  */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
    font-weight: 400;
    font-size: 20px;

}

.btn-primary {
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 64px;
    border: none;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 4px;
}

/* shar style  */

/* Nav style  */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: bolder;
    font-size: 45px;
}

nav ul>li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
}

/* nav bannar style  */
.bannar-greetings {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.bannar-title {
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}

.bannar-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.btn-second {
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 64px;
    border: 1px solid #FD6E0A;
    border-radius: 4px;
    ;
}

.bannar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.bannar-content {
    max-width: 580px;
}